$primary-background-color: rgb(65, 65, 70);
$secondary-background-color: rgb(47, 47, 50);

$border-color: rgb(43, 43, 48);
$outline-color: rgb(255, 255, 255);
$highlight-color: rgb(117, 142, 165);

$header-color: rgb(167, 166, 166);
$label-color: rgb(219, 218, 218);

$panel-padding: 20px;
$button-padding: 10px;

$font-family: "Inter", sans-serif;
